<div>
    Select Country:
        <select class="selectpicker" ng-model="ap.selectedCountry" ng-change = "ap.fetchRegions(ap.selectedCountry)" ng-options="country.title for country in ap.countries">
                <!--<option value="{{country.id}}">{{country.title}}</option>-->
            <option value="">-- выберите страну --</option>
        </select>
    </div>
</div>
<div>
    Select Region:
    <select class="selectpicker" ng-model="ap.selectedRegion" ng-change="ap.fetchCity(ap.selectedRegion)" ng-options="region.title for region in ap.regions" ng-disabled="ap.notChoosenCountry">
        <!--<option value="{{country.id}}">{{country.title}}</option>-->
        <option value="">-- выберите регион --</option>
    </select>
</div>
<div>
    Select City:
    <select class="selectpicker" ng-model="ap.selectedCity" ng-options="city.title for city in ap.cities" ng-disabled="ap.notChoosenRegion">
        <!--<option value="{{country.id}}">{{country.title}}</option>-->
        <option value="">-- выберите город --</option>
    </select>
</div>
